cert.pem
privkey.pem

cert/

k8s/service-mesh/certs/bookapi-mcp-server.crt

k8s/service-mesh/certs/bookapi-mcp-server.key

k8s/service-mesh/certs/bookapi.crt

k8s/service-mesh/certs/bookapi.key

k8s/service-mesh/certs/ca.crt

k8s/service-mesh/certs/ca.key

k8s/service-mesh/certs/ca.srl

k8s/service-mesh/certs/envoy.crt
